{% schema %}
{
    "name": "Aleem Banner",
    "settings": [
        {
            "type":"text",
            "id": "logo_headline",
            "label": "Logo Headline",
            "default": "TISSO VISON"
        },
        {
            "type":"text",
            "id": "logo_tagline",
            "label": "Logo Tagline",
            "default": "Find the ideal gift for your loved ones."
        },
        {
            "type":"text",
            "id": "button_text_top",
            "label": "Button Text Top",
            "default": "CHOOSE GIFT"
        },
        {
            "type":"url",
            "id": "button_url_top",
            "label": "Button URL Top",
            "default": "/"
        },
        {
            "type":"image_picker",
            "id": "top_banner_img",
            "label": "Top Banner Image"
        },
        {
            "type":"text",
            "id": "top_banner_img_alt",
            "label": "Top Banner Image Alt",
            "default": "Top Banner"
        }
    ],
    "presets": [
        {
            "name": "Aleem Banner",
            "category": "Customer Banner"
        }
    ]
}
{% endschema %}

<section class="aleem-banner">
    <div class="aleem-banner__content">
        <a href="#">{{ section.settings.logo_headline}}</a>
        <p>{{section.settings.logo_tagline}}</p>
        <a href="{{section.settings.button_url_top}}">{{section.settings.button_text_top}}</a>
    </div>
  <img src="{{ section.settings.top_banner_img | image_url: 'master' }}" alt="{{ section.settings.top_banner_img_alt }}" width="100" height="100" />
</section>

<style>
.aleem-banner{
    background: #F5F5F5;
}
</style>