{% schema %}
{
    "name": "Aleem Banner",
    "settings": [
        {
            "type":"text",
            "id": "logo_headline",
            "label": "Logo Headline",
            "default": "TISSO VISON"
        },
        {
            "type":"text",
            "id": "logo_tagline",
            "label": "Logo Tagline",
            "default": "Find the ideal gift for your loved ones."
        },
        {
            "type":"text",
            "id": "button_text_top",
            "label": "Button Text Top",
            "default": "CHOOSE GIFT"
        },
        {
            "type":"url",
            "id": "button_url_top",
            "label": "Button URL Top",
            "default": "/"
        },
        {
            "type":"text",
            "id": "main_headline",
            "label": "Main Headline",
            "default": "THE GIFT GUIDE"
        },
        {
            "type":"text",
            "id": "main_tagline",
            "label": "Main Tagline",
            "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
        },
        {
            "type":"text",
            "id": "button_text_bottom",
            "label": "Button Text Bottom",
            "default": "SHOP NOW"
        },
        {
            "type":"url",
            "id": "button_url_bottom",
            "label": "Button URL Bottom",
            "default": "/"
        }
    ],
    "presets": [
        {
            "name": "Aleem Banner",
            "category": "Customer Banner"
        }
    ]
}
{% endschema %}

<section class="aleem-banner">
  <div class="container">
    <div>
        <a href="#">{{ section.settings.logo_headline}}</a>
        <p>{{section.settings.logo_tagline}}</p>
        <a href="{{section.settings.button_url_top}}">{{section.settings.button_text_top}}</a>
    </div>
  </div>
  <img src="{{ 'top-banner-img.png' | asset_url | image_tag:'Top Banner' }}" width="100%" height="100%"/>
  <div class="aleem-banner__content">
    <div>
       <h1>{{ section.settings.main_headline}}</h1>
        <p>{{section.settings.main_tagline}}</p>
        <a href="{{section.settings.button_url_bottom}}">{{section.settings.button_text_bottom}}</a>
    </div>
    <img src="{{ 'bottom-banner-img.png' | asset_url | image_tag:'Bottom Banner' }}" width="100%" height="100%"/>
  </div>
</section>

<style>
.aleem-banner{
    background: #F5F5F5;
}
</style>